div.panels {
  display: flex;
  position: relative;
  flex-direction: row;
  height: calc(100vh - 4px);
  div.sidebar {
    width: 15em;
  }
  div.content {
    overflow: hidden;
    .content-box {
      position: relative;
      height: calc(100% - 3.76em);
      overflow-y: scroll;
      padding: 2em;
    }
  }
}
